.exo4 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 40px;
    border: 4px solid orange;
}

.exoContainer {
    display: flex;
    align-items: center;

}

.text {
    margin:
}