.exo4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 4px solid green;
}

.exoContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

button {
    height: fit-content;
    padding: 0.25rem 0.5rem;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.count {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}