.exo5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 4px solid blue;
}

.exo5Container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 150px;
}

.exo5Numbers {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid red;
}

.exo5Operator {
    display: flex;
}

.exo5Calculator {
    width: 50%;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    border: 4px solid orange;
}

select {
    margin: 0 10px;
}

button {
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px; 
}

.text1 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 10px;
}

.text2 {
    margin: 0 10px;
    padding: 15px;
    border: 1px solid black;
}

