.filmcard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 2rem;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    img {
        width: 250px;
        height: 250px;
        border-radius: 150px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .span1 {
        font-weight: bold;
        text-decoration: underline;
        font-size: 22px;
        padding: 5px;
    }

    .colorRed {
        color: red;
        font-weight: bold;
    }
}

.rating {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: red;
}

.heart {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 34px;
}